.profilePage {
    width: 80%;
    margin: 0 auto;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h2 {
    padding: 20px 0;
}

.avatarBlock{
    display: flex;
    align-items: flex-end;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.changeAvatarBtn {
    left: -50px;
    z-index: 1;

    height: 28px;
    border: none;
    opacity: 0.8;
}

.name {

}

.span_name {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.span_name img {
    height: 18px;
    margin-left: 10px;
}

.input_name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    margin: 15px 0;
    padding: 5px 15px;
    border: 1px solid #818181;
    border-radius: 20px;
}

.errorSpan {
    color: #ff6262;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.email {

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 15px 0;
    opacity: 0.5;
}