.header {
    box-shadow: 0 3px 10px rgba(109, 109, 109, 0.5), inset 0 3px 0 rgba(255, 255, 255, 0.5);
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px 10%;

}

@media only screen and (max-width: 400px) {
    .logo {
        max-width: 150px;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 330px) {
    .logo {
        max-width: 100px;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
}