.styleBtn{
    width: 50px;
    height: 36px;
    margin: 3px;
    border: 0.2px #bababa solid;
    border-radius: 2px;
}

.activeBtn {
    width: 50px;
    height: 36px;
    margin: 3px;
    border: 0.2px #bababa solid;
    border-radius: 2px;
    color: white;

    background-color: #366EFF;
}