.userInfo {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100px;

    background-color: #ffffff;
}

.userName {
    margin-right: 20px;
    padding-bottom: 3px;

    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.arrowDown{
    height: 10px;
    margin-left: 2px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menuLink, .menuLink:visited{
    text-decoration: none;
    color: black;
}