.container {
    width: 80%;
    margin: 0 auto;
}

.blockLearn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.namePack {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.blockQuestion {

}

.question {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    text-align: left;
    margin-top: 10px;
}

.questionImg{
    max-width: 300px;
    max-height: 200px;
}

.shots {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: #000000;

    opacity: 0.5;

    margin: 18px 0 0 0;
}

.shots span {
    opacity: 1;
    font-weight: bold;
}

.gradeBlock {
    text-align: left;
    margin-top: 15px;
}

.grade {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    text-align: left;
}

.grade li {

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    margin: 12px 0;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);

    list-style-type: none;
}