.truncateLongTexts {
    overflow: hidden;
    width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.namePack{
    display: flex;
    align-items: center;
}

.linkToPack{
    cursor: pointer;
    text-decoration: none;

    color: black;
    font-size: 16px;
}